* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}


.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#image-container {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: auto;
  height: auto;
  max-width: 750px;
  max-height: 550px;
  border: 1px solid black;
}

#status {
  margin-top: 2%;
}

#file-upload {
  margin-top: 2%;
}

#image-container img {
  max-width: 100%;
  max-height: 100%;
}

.ImageList {
  position: absolute;
  left: 5%;
  top: 5%;
  width: 250px;
  height: auto;
  border: 1px solid black;
}

.ImageItem {
  cursor: pointer;
  width: 100%;
  height: auto;
  border-bottom: 1px solid black;
  padding: 5px;
}